argparse
easydict
h5py
matplotlib
numpy
open3d==0.18.0
opencv-python
pyyaml
scipy
tensorboardX
timm==0.4.5
tqdm
transforms3d
termcolor
tensorboard 
cupy-cuda117 
lava 
h5py 
termcolor 
timm==0.4.12 
opencv-python
nvitop